<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:text="${det.getTheme()}"></title>
    <link rel="stylesheet" th:href="@{../static/bootstrap/css/bootstrap.min.css}">
    <link th:href="@{../static/css/bh-css.css}" rel="stylesheet">
    <link th:href="@{../static/font-awesome/css/font-awesome.min.css}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{../static/highlight/styles/railscasts.css}">
    <script th:src="@{../static/jquery/jquery.min.js}"></script>
    <script th:src="@{../static/bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{../static/highlight/highlight.pack.js}"></script>
    <link th:href="@{../static/css/main.css}" rel="stylesheet">
<!--    <link href='https://fonts.loli.net/css?family=PT+Serif:400,400italic,700,700italic&subset=latin,cyrillic-ext,cyrillic,latin-ext' rel='stylesheet' type='text/css' />-->
</head>
<body>
<div class="container-fluid" style="padding:0;">
    <div class="bh-content">
        <div class="container">
            <div th:include="public :: header"></div>
            <div class="bh-artical-content">
                <h2 class="bh-artical-title" th:utext="${det.getTheme()}"></h2>
                <div class="bh-card-tag">
                    <div class="">
                        <span class="text-success">ShaoJie</span>
                    </div>
                    <div><i class="fa fa-clock-o"></i> <span th:text="${det.getCreateTime()}"></span></div>
                    <div><i class="fa fa-eye"></i> <span th:text="${det.getSeeNum()}"></span></div>
                    <div><i class="fa fa-commenting-o"></i> <span th:text="${det.getMsgNum()}"></span></div>
                </div>
                <div class="bh-artical">
                    <span th:utext="${det.getContext()}" style="line-height: 0.1% !important;"></span>
                </div>
                </div>
                <div class="comment">
                    <h4 class="bh-title">发表评论</h4>
                    <form class="bh-comment-from">
                        <div>
                            <span class="bh-comment-from-icon"><i class="fa fa-pencil"></i></span>
                            <textarea placeholder="想说就说吧..." rows="1" style="resize: none;"></textarea>
                        </div>
                        <button type="button">发射</button>
                        <span class="clearfix"></span>
                    </form>
                <!--    <div class="comment-panel">
                        <div class="comment-panel-portrait">
                            <img src="img/list-image.jpg" class="img-fluid rounded-circle" alt="Responsive image">
                        </div>
                        <div class="comment-panel-content" >
                            <div class="comment-panel-content-item">
                                <div>jean</div>
                                <div>2017-10-01 18:00</div>
                            </div>
                            <div class="comment-panel-content-main">我上传的是FTP，怎么安装？</div>
                            &lt;!&ndash;comment-secondary-panel&ndash;&gt;
                            <div class="comment-secondary-panel">
                                <div class="comment-panel-portrait">
                                    <img src="img/list-image2.jpg" class="img-fluid rounded-circle" alt="Responsive image">
                                </div>
                                <div class="comment-panel-content">
                                    <div class="comment-panel-content-item">
                                        <div>海哥</div>
                                        <div>2017-10-01 18:00</div>
                                    </div>
                                    <div class="comment-panel-content-main">稍等我看下。。。。</div>
                                </div>
                                <span class="clearfix"></span>
                            </div>
                            &lt;!&ndash;&ndash;&gt;
                        </div>
                        <span class="clearfix"></span>
                        <div class="text-right text-primary"><a href="">回复</a></div>-->
                    </div>
                </div>
            </div>
        </div>
        <div th:include="public :: footer">
        </div>
    </div>
</div>
<script>hljs.initHighlightingOnLoad();</script>
</body>
</html>