<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:text="${det.getTheme()}"></title>
    <link rel="icon" th:href="@{../static/img/ha.ico}" type="image/gif">
    <link rel="stylesheet" th:href="@{../static/bootstrap/css/bootstrap.min.css}">
    <link th:href="@{../static/css/bh-css.css}" rel="stylesheet">
    <link th:href="@{../static/font-awesome/css/font-awesome.min.css}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{../static/highlight/styles/railscasts.css}">
    <script th:src="@{../static/jquery/jquery.min.js}"></script>
    <script th:src="@{../static/bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{../static/highlight/highlight.pack.js}"></script>
    <link th:href="@{../static/css/main.css}" rel="stylesheet">
    <!--    <link href='https://fonts.loli.net/css?family=PT+Serif:400,400italic,700,700italic&subset=latin,cyrillic-ext,cyrillic,latin-ext' rel='stylesheet' type='text/css' />-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.css">
    <script src="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.min.js"></script>
</head>
<body>
<div class="container-fluid" style="padding:0;">
    <div class="bh-content">
        <div class="container">
            <div th:include="public :: header"></div>
            <div class="bh-artical-content">
                <h2 class="bh-artical-title" th:utext="${det.getTheme()}"></h2>
                <div class="bh-card-tag">
                    <div class="">
                        <span class="text-success">ShaoJie</span>
                    </div>
                    <div><i class="fa fa-clock-o"></i> <span th:text="${det.getCreateTime()}"></span></div>
                    <div><i class="fa fa-eye"></i> <span th:text="${det.getSeeNum()}"></span></div>
                </div>
                <div class="bh-artical">
                    <span th:utext="${det.getContext()}" style="line-height: 0.1% !important;"></span>
                </div>
            </div>
            <div id="gitalk-container"></div>
        </div>
    </div>
</div>
<div th:include="public :: footer">
</div>
<script>hljs.initHighlightingOnLoad();</script>
<script>
    const gitalk = new Gitalk({
        clientID: 'b65c3c3f458aed7e650e',
        clientSecret: 'd164c12a1a1f5ff3df11244ce3aef8064f6d3948',
        repo: 'comment',
        owner: 'lzmvlog',
        admin: ['lzmvlog'],
        id: 'Gitalk初始化报错"validation failed"',
        distractionFreeMode: false
    })
    gitalk.render('gitalk-container');
</script>
</body>
</html>