<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ShaoJie</title>
</head>
<body>
<div th:fragment="sidebar">
    <div class="bh-sidebar" >
        <div class="bh-sidebar-main">
            <p class="bh-portrait"><img th:src="@{static/img/shaojie.jpg}"/></p>
            <span style="color: #000000">
                <h1>ShaoJie博客</h1>
                <p>ShaoJie  ·  java工程师</p>
                 <h4></h4>
                <p>邮箱：zhang1591313226@163.com</p>
                <p>城市：贵州贵阳</p>
            </span>
        </div>
    </div>
</div>

<div th:fragment="header">
    <nav class="bh-header" >
        <!--class="active"-->
        <a href="#" th:href="@{/}">首页 .</a>
        <a href="#" th:href="@{/skill}">技术 .</a>
        <a href="#" th:href="@{/vlog}">随笔 .</a>
    </nav>
</div>

<div th:fragment="footer">
    <div class="bh-footer">
        <p class="bh-copyright"><a href="#">联系我们</a> ShaoJie</p>
        <p class="bh-copyright">copyright @ 2019 ShaoJie（www.lzmvlog.net）</p>
    </div>
</div>
</body>
</html>