<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ShaoJie</title>
    <script th:src="@{static/jquery/jquery.min.js}"></script>
</head>
<body>
<div th:fragment="sidebar">
    <div class="bh-sidebar">
        <div class="bh-sidebar-main">
            <p class="bh-portrait"><img th:src="@{static/img/shaojie.jpg}"/></p>
            <span style="color: #000000">
                <h1>ShaoJie博客</h1><hr>
                <h4>个人介绍</h4>
                <p>ShaoJie  ·  java工程师</p>
                <p>邮箱：zhang1591313226@163.com</p>
                <p>城市：贵州贵阳</p><hr>
                <h4 id="hitokoto"></h4>
                <script src="https://cdn.jsdelivr.net/npm/bluebird@3/js/browser/bluebird.min.js"></script>
                <script src="https://cdn.jsdelivr.net/npm/whatwg-fetch@2.0.3/fetch.min.js"></script>
                <script>
                  fetch('https://v1.hitokoto.cn/?c=f')
                      .then(function (res) {
                          return res.json();
                      })
                      .then(function (data) {
                          var hitokoto = document.getElementById('hitokoto');
                          hitokoto.innerText = data.hitokoto;
                      })
                      .catch(function (err) {
                          console.error(err);
                      })
                </script>
            </span>
        </div>
    </div>
</div>

<div th:fragment="header">
    <nav class="bh-header" id="header-title">
        <!--class="active"-->
        <a href="#" th:href="@{/}">首页 .</a>
        <a href="#" th:href="@{/skill}">技术 .</a>
        <a href="#" th:href="@{/vlog}">随笔 .</a>
        <a href="#" th:href="@{/chain}">友链 .</a>
    </nav>
</div>

<div th:fragment="footer">
    <div class="bh-footer">
        <p class="bh-copyright"><a class="button right"
                                   href="http://wpa.qq.com/msgrd?v=3&uin=1591313226&site=qq&menu=yes">联系我们</a> ShaoJie
        </p>
        <p class="bh-copyright">copyright @ 2019 ShaoJie（www.lzmvlog.top）</p>
    </div>
</div>

<div th:fragment="pageturning">
    <span>
        <a href=""><button style="float: left;margin: 20px 0 0 57px " type="button" data-loading-text="Loading..."
                           class="btn btn-primary" autocomplete="off">
            上一页
        </button></a>
        <a href=""><button style="float: right;margin: 20px 200px 0 0 " type="button" data-loading-text="Loading..."
                           class="btn btn-primary" autocomplete="off">
            下一页
        </button></a>
    </span>
</div>
</body>
</html>