<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Shao · Jie · 随笔</title>
    <link rel="icon" th:href="@{static/img/ha.ico}" type="image/gif">
    <link rel="stylesheet" th:href="@{static/bootstrap/css/bootstrap.min.css}">
    <link th:href="@{static/css/bh-css.css}" rel="stylesheet">
    <link th:href="@{static/font-awesome/css/font-awesome.min.css}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{static/highlight/styles/railscasts.css}">
    <script th:src="@{static/jquery/jquery.min.js}"></script>
    <script th:src="@{static/bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{static/highlight/highlight.pack.js}"></script>
    <link th:href="@{static/css/main.css}" rel="stylesheet">
</head>
<body>
<div class="container-fluid" style="padding:0;">
    <div class="bh-content">
        <div th:include="public :: sidebar"></div>
        <div class="bh-main">
            <div class="bh-main-body">
                <div th:include="public :: header"></div>
                <div class="bh-card" th:each="vlog : ${vlog}">
                    <div class="bh-card-main">
                        <h3 class="bh-card-main-title"><a href="detail.html" th:href="@{/detail/} + ${vlog.getTheme()}"
                                                          th:utext="${vlog.getTheme()}"></a></h3>
                        <div class="bh-card-tag">
                            <div><i class="fa fa-clock-o"></i><span th:text="${vlog.getCreateTime()}"></span></div>
                            <div><i class="fa fa-eye"></i> <span th:text="${vlog.getSeeNum()}"></span></div>
                            <div><i class="fa fa-commenting-o"></i><span th:text="${vlog.getMsgNum()}"></span></div>
                        </div>
                        <p class="bh-card-main-info" th:utext="${vlog.getRemark()}"></p>
                    </div>
                </div>
                <div th:if="${vlog.hasPrevious()}">
                    <a href="" th:href="'/?pageNum=' + ${vlog.previousPageable().getPageNumber()}">
                        <button style="float: left;margin: 20px 0 0 57px" type="button" data-loading-text="Loading..."
                                class="btn btn-primary" autocomplete="off">
                            上一页
                        </button>
                    </a>
                </div>
                <div th:if="${vlog.hasNext()}">
                    <a href="" th:href="'/?pageNum=' + ${vlog.nextPageable().getPageNumber()}">
                        <button style="float: right;margin: 20px 100px 0 0" type="button" data-loading-text="Loading..."
                                class="btn btn-primary" autocomplete="off">
                            下一页
                        </button>
                    </a>
                </div>
                <div th:include="public :: footer"></div>
            </div>
        </div>
    </div>
</div>
</body>
<script>hljs.initHighlightingOnLoad();</script>
</html>